*~
*.o
__pycache__/
.vscode
.idea
.cache
*.npy
*.pth

bazel-*
bazel.log
bep.json*
*.profile.gz
/.vscode
*.iml
*vents.out.tfevents*
.DS_Store
__pycache__
target
*.pyc
*.rpm
rpm/*.log
*.whl
.clangd

logs/
*.log

*.mo
*build*/
